<div class="row">

    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="buttom" routerLink="newProyectos" class="btn btn-dark" *ngIf="isLogged">Nuevo Proyecto</button>
    </div>

    <div class="contenedor" *ngFor="let proyecto of proyecto">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>{{proyecto.nombreProyecto}}</h2>
            <h3>{{proyecto.descripcionP}}</h3>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href {{proyecto.imagenP}}></a> 
        </div>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-success" routerLink="/editproyecto/{{proyecto.id}}">
                    <i class="bi bi-pencil-square"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(proyecto.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
    </div>
</div>