<div class="row">

    <div class="contenedor" *ngFor="let banner of banner">
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href {{banner.imagenB}}></a> 
        </div>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-success" routerLink="/editbanner/{{banner.id}}">
                    <i class="bi bi-pencil-square"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(banner.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
    </div>
</div>
