.container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    max-width: 2317px;
    max-height: 2221px;
    flex-wrap: nowrap;
    justify-content: center;
}
.row{
    padding: 20px;
    margin: 0;
}
div{
    background-color: #a1b5cb;
}
img{
    width: 1800px;
}