<div class="row">
    <div>
        <button type="buttom" routerLink="newbanner" class="btn btn-dark" *ngIf="isLogged">Nuevo Banner</button>
    </div>
</div>

<div class="container col-lg-12" *ngFor="let banner of banner">
    <img src="{{banner.imagenB}}" class="img-fluid">
</div>

<div class="row">
    <div *ngFor="let banner of banner">
        <td *ngIf="isLogged">
            <button class="btn btn-success" routerLink="/editbanner/{{banner.id}}">
                <i class="bi bi-pencil-square"></i></button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(banner.id)">
                <i class="bi bi-trash-fill"></i></button>
        </td>
    </div>
</div>