<div class="row">
    <div class="persona">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 fotodeperfil">
            <img src="{{persona.img}}">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>{{persona.titulo}}</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>{{persona.descripcion}}</p>
            </span>
        </div>
        <div class="col-lg-2">
            <button type="buttom" routerLink="newpersona" class="btn btn-dark" *ngIf="isLogged">Nueva Persona</button>
        </div>
        <div class="col-lg-2">
            <td *ngIf="isLogged">
                <button class="btn btn-success" routerLink="/editar/{{persona.id}}">
                    <i class="bi bi-pencil-square"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="deletePersona(persona.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
    </div>
</div>